NODE_ENV=
API_ROUTE= api/v1/
RUN_SEEDS=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
IS_PRODUCTION=
COOKIE_DOMAIN=
FAKE_DATA=false
USERS_FAKE=33

# DATABASE
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# AUTH
API_KEY=
JWT_SECRET=
JWT_TOKEN_EXPIRATION_TIME=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRATION_TIME=
